/* WELCOME TO THE BEAUTIFUL STYLESHEET. I WILL ASSUME THAT YOU READ MY SHORT NOVEL IN THE HTML ALREADY.

THIS IS SOME CSS SPECIFIC INFO TO KEEP IN MIND. PLEASE KEEP IT IN MIND.

AAAALWAYS USE VARIABLE COLOURS WHEN YOU WANT TO MAKE SOMETHING SERIOUS AND NOT JUST FOR TESTING PURPOSES. ALL THE PICK UP CLUB COLOURS CAN BE FOUND BELOW.
IF YOU WANT TO USE ONE OF THE COLOURS, INSTEAD OF WRITING color: orange; WRITE color: var(--primary-orange);

TRY NOT TO CHANGE TOO MUCH OF WHATS ALREADY WRITTEN, ONLY IF YOU FULLY UNDERSTAND WHAT THE CHANGE EFFECTS. IT IS SAFER TO ADD NEW THINGS THAN REPLACING OLD ONES.

I AM ALSO BAD AT THIS BUT TRY TO ORGANISE WHAT GOES WHERE.

GET SOMEWHAT FAMILIAR WITH USING rem, fr, vw, vh INSTEAD OF px AS A UNIT OF MEASUREMENT, THEY ARE MORE FLEXIBLE ON DIFFERENT SCREEN SIZES.

https://css-tricks.com/ IS A GOOD PLACE TO READ ABOUT CSS

IF YOU FULLY COPY PASTE SOMETHING PLEASE PLEASE PUT IT SEPARATE LIKE I DID WITH THE CARD STACKING THING, I DON'T WANT THESE THINGS TO MIX UP.

I WILL PROBABLY REMEMBER MORE THINGS AS WE GO, I WILL UPDATE THIS LIST.

*/
:root {
  --primary-orange: #f25a17;
  --support-brown: #5f2112;
  --support-beige: #f0f2e5;
  --accent-grey: #2B2D1F;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--support-beige);
}

/* ----------------------------------------------------------------------
   -----------------------------MAIN GRID--------------------------------
   ----------------------------------------------------------------------- */

.page-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
}

/* -----------------------------------------------------------------------
   ---------------------------LAYOUT OF TILES-----------------------------
   ----------------------------------------------------------------------- */

.tile-full {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  font-weight: 100;
  gap: 10px;
}

.tile-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  gap: 10px;
}

.product-grid {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* -----------------------------------------------------------------------
   ---------------------------STYLE OF TILES------------------------------
   ----------------------------------------------------------------------- */

.tile-theme-light {
  background-color: var(--support-beige);
  color: var(--accent-grey);
  border: solid black 1px;
}

.tile-theme-dark {
  background-color: var(--accent-grey);
  color: var(--support-beige);
  margin: 0;
  border: solid red 1px ;
}

/* -----------------------------------------------------------------------
   ------------------------STYLE WITHIN TILES-----------------------------
   ----------------------------------------------------------------------- */

.button-primary {
  background-color: var(--primary-orange);
  color: white;
  padding: 14px 25px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.button-primary:hover{
  background-color: var(--primary-orange);
  box-shadow: 0.5rem 0.2rem 1rem var(--accent-grey);
}

.button-secondary {
  background-color: var(--accent-grey);
  color: white;
  padding: 14px 25px;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5rem;

}

.section-title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: normal;
}

.grid-container {
  grid-column: 1/1;
  grid-row: 2/2;
}
.grid-section {
  display: flex;
  align-items: center; 
}

.menu-item {
  background: var(--accent-grey);
  color: var(--support-beige);
  text-align: center;
  cursor: pointer;
  padding: 0.7rem;
}
.menu-item:hover {
  background: var(--support-brown);
  box-shadow: inset 0 0 0 0.1rem var(--primary-orange);
}

#menubar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
} 

#main-header {
  margin-left: 3rem;
  width: 25rem;
  font-size: 150%;
  line-height: 1.1;
}

#quote {
  margin-right: 3rem;
  font-size: 300%;
  font-style: italic;
  line-height: 1.1;
}
#main-image {
  grid-column: 2;
  grid-row: 1/3;
}

#main-subheader {
  align-content: top;
  margin-left: 3rem;
}
#impact-header {
  align-content: top;
  text-align: right;
  margin-right: 3rem;
}

#product {
  align-content: center;
  border: solid blue 100px;
}

#logo {
  background: var(--primary-orange);
  color: var(--support-beige);
  text-align: center;
  cursor: pointer;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; 
}

#logo svg {
  max-width: 100%;
  max-height: 3rem; 
}

.svg-default {
  display: block;
}

.svg-hover {
  display: none;
  overflow: visible;
}

#logo:hover .svg-default {
  display: none;
}

#logo:hover .svg-hover {
  display: block;
  align-items: left;
}


/* -----------------------------------------------------------------------
   ------------------------INDIVIDUAL STYLINGS----------------------------
   ----------------------------------------------------------------------- */

.content-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.9rem; 
  width: 100%;
}

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
}

.logo-carousel {
  overflow: hidden;
  width: 100vw;
  display: flex;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: partnerlogo-conveyorbelt 120s linear infinite;
}



.logo-set {
  display: flex;
  align-items: center;
  gap: 10rem;
  padding-right: 10rem; 
  flex-shrink: 0;
}

.partner-logo {
  width: 180px;
  height: auto;
}

@keyframes partnerlogo-conveyorbelt {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}






/* -----------------------------------------------------------------------
   -----------------------CARD STACKING CODEPEN---------------------------
   ----------------------------------------------------------------------- */

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

.cards-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  gap: 2rem; 
  width: 100%;
  height: 100%; 
  grid-column: 1 / -1; 
  grid-row: 1 / -1; 
}
#cards-background-section {
  background-image: url('backdrop.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--support-beige); 
}

.cards *, .cards ::before, .cards ::after {
  margin: 0;
  box-sizing: border-box;
}

.cards img {
  max-width: 100%;
}

.cards input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.cards {
  /* Recreating the CodePen's required environment natively */
  font: 1rem system-ui;
  place-content: center;
  padding: 1rem;
  
  
  /* Forcing the container to break out of the .tile-full constraints */
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  
  /* Original variables */
  --img-w: 200px;
  --duration: 300ms;
  --img-easing: cubic-bezier(0.34, 1.56, 0.64, 1);
  width: min(100% - 4rem, 800px);
  margin-inline: auto;
  display: grid;
  counter-reset: my-counter;
}

.card {
  --cards-grid-cols: auto;
  --cards-grid-rows: var(--img-w) auto;
  --cards-grid-gap: 2rem;
  --cards-footer-justify: center;
  
  grid-area: 1/1;
  display: grid;
  place-items: center; 
  grid-template-columns: var(--cards-grid-cols);
  grid-template-rows: var(--cards-grid-rows);
  gap: var(--cards-grid-gap);
  z-index: -1;
  
}

@media (600px < width){
  .card{
      --cards-grid-cols: var(--img-w) auto;
      --cards-grid-rows: auto;
      --cards-grid-gap: 4rem;
      --cards-footer-justify: start;
  }
}

.card-img{
  width: 200px;
  height: 200px;
  aspect-ratio: 1 / 1 ;
  rotate: var(--angle, 0deg);
  border-radius: 10px;
  border: 3px solid #FFF;
  overflow: hidden;
  transform-origin: center;
  object-fit: cover;
  box-shadow: 0.3rem 0.3rem 1.4rem var(--accent-grey);

}

.cards input:nth-of-type(1):checked + .card ~ .card > .card-img{
  animation: straighten-img-1 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(2):checked) > .card-img,
.cards input:nth-of-type(2):checked + .card ~ .card > .card-img{
  animation: straighten-img-2 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(3):checked) > .card-img,
.cards input:nth-of-type(3):checked + .card ~ .card > .card-img{
  animation: straighten-img-3 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(4):checked) > .card-img,
.cards input:nth-of-type(4):checked + .card ~ .card > .card-img{
  animation: straighten-img-4 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(5):checked) > .card-img,
.cards input:nth-of-type(5):checked + .card ~ .card > .card-img{
  animation: straighten-img-5 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(6):checked) > .card-img,
.cards input:nth-of-type(6):checked + .card ~ .card > .card-img{
  animation: straighten-img-6 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(7):checked) > .card-img,
.cards input:nth-of-type(7):checked + .card ~ .card > .card-img{
  animation: straighten-img-7 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(8):checked) > .card-img,
.cards input:nth-of-type(8):checked + .card ~ .card > .card-img{
  animation: straighten-img-8 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(9):checked) > .card-img,
.cards input:nth-of-type(9):checked + .card ~ .card > .card-img{
  animation: straighten-img-9 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(10):checked) > .card-img,
.cards input:nth-of-type(10):checked + .card ~ .card > .card-img{
  animation: straighten-img-10 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
.card:has(~input:nth-of-type(11):checked) > .card-img,
.cards input:nth-of-type(11):checked + .card ~ .card > .card-img{
  animation: straighten-img-11 calc(var(--duration) * 2) forwards;
  animation-timing-function: var(--img-easing);
}
@keyframes straighten-img-1 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-2 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-3 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-4 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-5 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-6 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-7 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-8 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-9 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-10 { 50%{ --angle: 0deg;} }
@keyframes straighten-img-11 { 50%{ --angle: 0deg;} }

/* stacking order */
.cards input:checked + .card{
  z-index: 10 !important;
}
.card:has(+input:checked){
  z-index: 9;
}
.card:has(+input + .card + input:checked){
  z-index: 8;
}
.card:has(+input + .card +input + .card + input:checked){
  z-index: 7;
}
.card:has(+input + .card +input + .card +input + .card + input:checked){
  z-index: 6;
}
.card:has(+input + .card +input + .card +input + .card +input + .card + input:checked){
  z-index: 5;
}
.card:has(+input + .card +input + .card +input +input + .card +input + .card +input + .card + input:checked){
  z-index: 4;
}
.card:has(+input + .card +input + .card +input  + .card +input +input + .card +input + .card +input + .card + input:checked){
  z-index: 3;
}

.card-data{
  display: grid;
  gap: 1rem;
}
.card-data > .card-num{
  opacity: var(--data-opacity, 0);
  font-size: .8rem;
  color: #666;
}
.card-data > p{
  font-size: 0.9rem;
}
.card-data > h2,
.card-data > p{
  transition: var(--duration) ease-in-out;
  transition-delay: var(--data-delay, 0ms);
  opacity: var(--data-opacity, 0);
  translate: 0 var(--data-y, 20px);
}
.card-data > footer{
  display: flex;
  justify-content: var(--cards-footer-justify);
  gap: 2rem;
}
.card-data > footer label{
  margin-block-start: auto;
  cursor: pointer;
  pointer-events: var(--card-events, none);
  opacity: var(--data-opacity, 0);
  transition: color var(--duration) ease-in-out, background-color var(--duration) ease-in-out;
  color: var(--label-clr-txt, #000);
  background-color: var(--label-clr-bg, #EEE);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}

.cards input:checked:focus-visible + .card > .card-data > footer label,
.card-data > footer label:hover{
  --label-clr-txt: #FFF;
  --label-clr-bg: steelblue;
}

.cards input:checked + .card{
  --data-opacity: 1;
  --data-y: 0;
  --data-delay: var(--duration);
  --card-events: auto;
  transition: z-index;
  transition-delay: 300ms;
}

.cards input:checked +.card > .card-img{
  animation: reveal-img calc(var(--duration) * 2) forwards;
}

@keyframes reveal-img{
  50%{
    translate: -150% 0;
    --angle: 0deg;
  }
}